@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FFF;
    font-family: Trebuchet MS, Arial;
}

a {
    outline:none; 
}

h1.header {
    margin-bottom: 20px;
}

img {
    border:none;
}

.clear {
    clear: both;
}

.block {
    display:block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    display: none;
}

#content-wrapper {
    width: 978px;
    margin: 0 auto;
}

#content {
    min-height: 400px;
}

.wrapper-top {
    background-color: #9E2D1B;
}

.wrapper-top h1
{
    font-size: 30px;
    color: #FFF;
    padding: 10px 0;
}

.top {
    width: 978px;
    margin: 0 auto;
    height: 150px;
    margin-bottom: 10px;
}

.top-left
{
    width: 478px;
    float: left;
}

.top-right
{
    width: 500px;
    float: right;
    text-align: right;
    margin-top: 5px;
}

.top-right a {
    border-right: 1px solid #FFF;
    padding: 0 5px;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
}

.top-right a:last-child {
    border: none;
}

.wrapper-top h2
{
    font-size: 20px;
    color: #FFF;
    padding: 5px 0 20px 0;
}

#footer-content {
    width: 978px;
    margin: 0 auto;
}

#footer {
    height: 90px;
    margin-top: 20px;
}

.copyright {
    font-size: 14px;
    padding-top: 10px;
    width: 50%;
    float: left;
}

#bottom_footer {
    padding-top: 10px;
}

#bottom_footer ul li {
    display: block;
    float: left;
}

#bottom_footer ul li a {
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
    color: #2f2f2f;
    border-right: 1px solid #2f2f2f;
}

#bottom_footer ul li:last-child a {
    border-right: 0;
}


body, html {
	margin: 0;
	padding: 0;
}

a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}

hr {
	border: 0;
	height: 1px;
	background-color: #CBCBCB;
}

.clr {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.hidden {
	display: none;
}

#content form fieldset {
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
}

#content form label sup {
	color: red;
}

#content form .error {
	font-size: 12px;
	margin-left: 10px;
	padding: 0 5px;
}

#content form .submitDiv .button {
	margin-top: 10px;
	/*	width: 100%;*/
}

#content form input[type="checkbox"] {
	margin-right: 10px;
}

#content form select:focus,
#content form input[type="text"]:focus,
#content form input[type="password"]:focus,
#content form input[type="checkbox"]:focus,
#content form input[type="email"]:focus,
#content form textarea:focus,
#content form input#recaptcha_response_field:focus {
	border: 1px solid darkgreen;
}

#content form select {
	border: 1px solid darkred;
	border-radius: 5px;
	margin-left: 5px;
	width: 264px;
}

#content form select option {
	padding-left: 10px;
}

#content form input[type="text"],
#content form input[type="password"],
#content form input[type="email"],
#content form textarea {
	border: 1px solid darkred;
	margin-left: 5px;
    margin-top: 1px;
    padding: 1px 5px;
    width: 250px;
}

#content form input[type="text"].required,
#content form input[type="password"].required,
#content form input[type="email"].required,
#content form textarea.required,
#content form input#recaptcha_response_field {
	background-image: url("pics/exclamation-small-red.png");
	background-repeat: no-repeat;
	background-position: right top;
}

#content form .formPos {
	padding: 5px 0;
}

#content .box {
	margin-bottom: 10px;
/*	padding: 0 .7em;*/
}

#content .box p {
	margin: 8px 0;
}

#content .box.error {
	box-shadow: 0 0 5px 0 #CD0A0A;
}

#content .box.info {
	box-shadow: 0 0 5px 0 #FED22F;
}

#content .box span {
	margin-right: .3em;
}

