

root,body, container, main, article, section, table { 
    display: block;
 
}

body
{  
    background :url('../images/background.jpg');
    width: 100%;
    text-align: center;
   /* margin-left:*/
    line-height: 1;
    font-size: 14px ; 
    color: white;
    font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}
a {
    color:white;
}
#containerr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    /*width: 1000px;
    height: auto;
    overflow: visible;*/
}
/*#container > .columns {
	background: /*url('theme.jpg') no-repeat 50% -210px *//*white;
	overflow: hidden;
	padding-bottom:20px;
	border-top-left-radius:13px;
}
*/
.wide-background header.main {
	padding: 32px 8px 10px 14px;
}
header.main {
	min-height: 102px;
        margin:auto auto auto auto;
       /* margin-right:auto;*/
	width: 958px;
	padding: 12px 12px 12px 12px;
        background-color: rgba(92,92,247,0.2);
        border-radius:10px;
}
header.main h1 {
	float: left;
	margin: 0;
	height: 49px;
}
form {
	padding: 4px;
	border: 1px solid #ecebe8;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 15px;
	overflow: hidden;
}
input[type=text],input[type=password], textarea {
	vertical-align:middle;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	font-size: 13px;
	padding: 4px 0px;
	width:79%;
	max-width:248px;
	border:1px solid #3d3d89;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#getlogin {
	float: right;
	border: 0;
}

#loginItems {
	float: right;
}

#radioItemsPadding {
	padding-top: 50px;
	padding-bottom: 5px;
}

#getlogin * {
	display: inline-block;
}
#getlogin fieldset {
	border: 0;
}
#audioPlayer {
	float: right;
}

#getlogin input[type="submit"] {
	font-size: 11px;
	width: 70px;
	height: 28px;
	background: url(login.png) no-repeat;
	cursor: pointer;
	border:0;
}
#getlogin input[type="text", type="password"] {
	
	font-size: 12px;
	opacity: 0.9;
	padding: 4px 8px;
}
.fb-register{
    vertical-align:middle;
}
.art-clear {clear:both; list-style: none;}
.content-wrapper{
    margin:12px 12px 12px 12px;
    /* border:1px solid rgba(92,92,247,0.3);/**/
}
nav.main 
{
    /*float: left;*/
   /* min-height: 300px;*/
    margin-left:0px;
    margin-bottom: 0px;
   /* margin-right:auto;*/
   /* width: 200px;*/
    padding: 1px 12px 12px 12px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
}
nav.main h1{
    margin-top:12px;
    min-height: 26px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
    padding:6px 6px 6px 6px;
    text-align: center;
}
nav.main ul{
    padding-left:6px;
    padding-right:6px;
    list-style-type: none;
    line-height: 1.5em;

}
nav.main li{
    margin: 2px 1px 1px 2px;
    padding:1px 1px 1px 1px;
     border-radius:5px;
       border:1px solid rgba(92,92,247,0.3);
}

#content-center{
    margin-bottom: 12px;
    padding:12px 12px 12px 12px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
    text-align: left;
}
#content-right{ 
    float: right;
    margin-right:0px;
    max-width: 300px;
    padding:12px 12px 12px 12px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
  
}

footer {
    clear: both;
    margin-top: 12px;
    margin-bottom: 20px;
    border: solid 1px rgba(92,92,247,0.1);
    padding:12px 12px 12px 12px;
    background-color: rgba(92,92,247,0.1);  
    border-radius:10px;
    font-size: 10px;
}
nav.main h2{
  display: block;
  width: 95%;
  padding: 6px 6px 6px 6px;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 37px;
  color: white;
  border: 0;
  border-bottom: 1px solid #eee;
}

.main-side{
    min-heigh: 500px;
}
.span5-ext{ margin-left: 20px;
padding:6px 6px 6px 6px;}
.span9-ext{
    margin: 0px 0 0 10px;
}
.span3-ext1{
    text-align: justify;
}
span3-ext2{
    text-align: center;
}
.row-ext{
    margin: 0 0 0 0;
    padding:12px 12px 12px 12px;
}
.bgblue{
        display: block;
    
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
}
.bgblue2{
        display: block;
    
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgba(250,92,247,0.2);  
    border-radius:10px;
    background: rgb(20,20,20); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(20,20,20,0.5) 0%, rgba(38,12,56,0.5) 37%, rgba(5,1,61,0.5) 47%, rgba(7,9,25,0.5) 57%, rgba(16,7,79,0.5) 71%, rgba(62,31,84,0.5) 81%, rgba(16,14,20,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(20,20,20,0.5)), color-stop(37%,rgba(38,12,56,0.5)), color-stop(47%,rgba(5,1,61,0.5)), color-stop(57%,rgba(7,9,25,0.5)), color-stop(71%,rgba(16,7,79,0.5)), color-stop(81%,rgba(62,31,84,0.5)), color-stop(100%,rgba(16,14,20,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(20,20,20,0.5) 0%,rgba(38,12,56,0.5) 37%,rgba(5,1,61,0.5) 47%,rgba(7,9,25,0.5) 57%,rgba(16,7,79,0.5) 71%,rgba(62,31,84,0.5) 81%,rgba(16,14,20,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(20,20,20,0.5) 0%,rgba(38,12,56,0.5) 37%,rgba(5,1,61,0.5) 47%,rgba(7,9,25,0.5) 57%,rgba(16,7,79,0.5) 71%,rgba(62,31,84,0.5) 81%,rgba(16,14,20,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(20,20,20,0.5) 0%,rgba(38,12,56,0.5) 37%,rgba(5,1,61,0.5) 47%,rgba(7,9,25,0.5) 57%,rgba(16,7,79,0.5) 71%,rgba(62,31,84,0.5) 81%,rgba(16,14,20,0.5) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(20,20,20,0.5) 0%,rgba(38,12,56,0.5) 37%,rgba(5,1,61,0.5) 47%,rgba(7,9,25,0.5) 57%,rgba(16,7,79,0.5) 71%,rgba(62,31,84,0.5) 81%,rgba(16,14,20,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#100e14',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/***/
}
.aside-bg{
    margin-top: 12px;
    padding:10px 10px 10px 10px;
    background-color: rgba(92,92,247,0.2);  
    border-radius:10px;
}
h3.nagl{
  display: block;
  width: 95%;
  padding: 6px 6px 6px 6px;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 37px;
  
  border: 0;
  border-bottom: 1px solid #eee;
}
p.nagl{
  display: block;
  width: 95%;
  padding: 6px 6px 6px 6px;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 20px;
  
  border: 0;
  border-bottom: 1px solid #eee;
  
    text-align: left;
}
article{text-align:left;}

tr.tlo{ /* background-color: rgba(250,92,247,0.2);  */}
td.logo
{
  
    width: 50px;
    vertical-align: middle;
    text-align: center;
    
}
td.nazwaradia
{    
    width: 30%;
    vertical-align: middle;
    text-align: center;
    
}
td.play
{    
    width: 20px;
    vertical-align: middle;
    text-align: center;
}
td.utwor
{
    text-align: center;
    vertical-align: middle;    
    text-height: auto;
    alignment-adjust: central;
    alignment-baseline: central;
}

td.songLogo
{    
    width: 100px;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}

td.utworList
{
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
}

.surveysPadding 
{
    padding-left: 30px;
}

.buttonaddadmin 
{
    text-align: right;
    padding-right: 30px;
    padding-bottom: 15px;
}

td.buttonsalign
{
    text-align: right;
    padding-right: 20px;
}

td.fullwidth 
{
    width: 100%;
}